body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

header {
    text-align: center;
    color: white;
    padding: 40px 20px;
}

nav {
    background: #ffffff;
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.jadwal-img {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}


nav a:hover {
    color: #4facfe;
}

.card {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    color: white;
    padding: 15px;
}
.jadwal-img {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.galeri {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    margin-top: 15px;
}

.galeri figure {
    margin: 0;
    text-align: center;
}

.galeri img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.galeri img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.galeri figcaption {
    font-size: 13px;
    margin-top: 5px;
    color: #555;
}




