/* ===== RESET & DASAR ===== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

/* ===== HEADER ===== */
header {
    text-align: center;
    color: white;
    padding: 40px 20px;
}

/* ===== NAVBAR ===== */
nav {
    background: #ffffff;
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #4facfe;
}

/* ===== CARD ===== */
.card {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

/* ===== JADWAL ===== */
.jadwal-img {
    width: 100%;
    max-width: 900px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* ===== GALERI ===== */
.galeri {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 12px;
    margin-top: 15px;
}

.galeri figure {
    margin: 0;
    text-align: center;
}

.galeri img {
    width: 100%;
    max-height: 100px;        /* UKURAN FOTO DIPERKECIL */
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.galeri img:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.galeri figcaption {
    font-size: 12px;
    margin-top: 6px;
    color: #555;
}

/* ===== ZOOM FOTO ===== */
#zoomBox {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#zoomBox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
}

/* ===== FOOTER ===== */
footer {
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.25);
    padding: 15px;
    margin-top: 30px;

}
.profil-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.profil-table th,
.profil-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.profil-table th {
    background-color: #f0f8ff;
    width: 35%;
}



