body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
}

header {
    text-align: center;
    color: white;
    padding: 40px 20px;
}

nav {
    background: #ffffff;
    text-align: center;
    padding: 10px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #4facfe;
}

.card {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    color: white;
    padding: 15px;
}
